@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    @apply text-sm lg:text-base flex justify-center;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
    @apply p-8;
    width: 100%;
    max-width: 1480px;
}

/* buttons */
.outline-button {
    @apply border-2 border-blue-600 rounded-lg text-blue-600;
    padding: 8px;
    height: 44px;
}

.filled-button {
    @apply bg-blue-600 rounded-lg text-white;
    padding: 8px;
    height: 44px;
}
